<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL USERS</title>
    <style>
        table,tr,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
<hr>
    
    <table>
    <tr>
        <td>id</td>
        <td>email</td>
        <td>username</td>  
        <td>edit</td>
        <td>add user</td>
        <td>DELETE</td>
    </tr>
        
        
        <% for(let user of users) {  %>
    <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <td><%=user.username%></td>

       <td><form method="GET" action="/user/<%=user.id%>/edit">
            <button>Edit username</button>
        </form></td> 


        <td>
            <a href="/user/new">
                <button type="button" style="background-color:orange ;" >Add new user</button>
            </a>
        </td>


        <td>
            <form method="GET" action="/user/<%= user.id %>/delete" >
                <button style="background-color: lightgray;"> Delete </button>
            </form>
        </td>

    </tr>
<% } %>
    
    </table>
</body>
</html>
