<% layout("/layouts/boilerplate") %>



  <h3>Editing a List</h3>
  <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation">


    <div>
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title%>" class="form-control" required>
        <div class=" valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Enter a Valid Title</div>
      </div>
      <!----->
      <br>


      <div class="mb-2">

        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" value="<%= listing.title%>" class="form-control" required>
        <div class=" valid-feedback">Description is Ready!</div>
        <div class="invalid-feedback">Enter a Valid Description</div>
      </div>
      <br>

      <div class="mb-4">
        <label for="image" class="form-label">URL/Link</label>
        <input type="text" name="listing[image]" value="<%= listing.image%>" class="form-control" required>
        <div class="valid-feedback">IMG is awesome!</div>
        <div class="invalid-feedback">Uploas an Image</div>
      </div>
      <br>
      <!-------------->
      <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="listing[price]" value="<%= listing.price%>" class="form-control" required>
          <div class=" valid-feedback">Good Pricing!</div>
          <div class="invalid-feedback">Enter a Valid Pricing</div>
        </div>


        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country]" value="<%= listing.country%>" class="form-control" required>
          <div class="valid-feedback">Oh! you belong from here!</div>
          <div class="invalid-feedback">Country can't be Empty</div>

        </div>

      </div>


      <br>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" value="<%= listing.location%>" class="form-control">
        <div class="valid-feedback">Good Choice!</div>
        <div class="invalid-feedback">Invalid Location!</div>

      </div>
    </div>

    <button class="btn btn-dark mt-3 mb-4">Edit</button>
  </form>
  <br>
  <br>